#clk1{
	border: solid green 2px;
	width:500px ;
	background:pink; 
	box-shadow: 5px 5px 5px green;
	-moz-box-shadow:5px 5px 5px green;
	margin: 0 auto;
	position: relative;
}
p{
	text-align: center;
	color: white;
	font-family: "Cooper Black";
	font-size: 30px;
	height: 40px;
	inline-height:40px;
}
#clkcanvas{
	display: block;
	margin:0 auto 10px;
}
#target1{
	display:block;
	position: absolute;
	top:180px;
	left:237.5px;
}
#target2{
	display:block;
	position: absolute;
	top:200px;
	left:247px;
}
#target3{
	display:block;
	position: absolute;
	top:235px;
	left:245px;
}
#target4{
	display:block;
	position: absolute;
	top:340px;
	left:230px;
}

