*{
    padding: 0;
    margin: 0;
}
body{
    padding: 50px 0;
    background-color:#fff;
    font-size:14px;
    font-family: 'Avenir Next'; 
    color:#555;
    -webkit-font-smooth:antialiased; 
}

.ss_p .main .main_i,
.ss_p .main,
.ss_p{
	width: 100%;
	height: 400px;	
	position: relative;	
}

/*幻灯片区域*/
.ss_p .main{
	overflow: hidden;	
}

.ss_p .main .main_i {}
.ss_p .main .main_i img{
	width: 100%;
	position: absolute;
	left: 0;
	top: 50%;
}

.ss_p .main .main_i .caption{
	position: absolute;
    right:50%;
    top:30%;
}

.ss_p .main .main_i .caption h1{
    font-size: 40px;
    line-height: 50px;
    color: #B5B5B5;
    text-align: right;
}

.ss_p .main .main_i .caption h2{
    font-size: 70px;
    line-height: 70px;
    color: #000000;
    text-align: right;
}
/*控制按钮区域*/
.ss_p .control{
	width: 100%;
	height:13px;
	position: absolute;
	line-height: 13px;
	text-align: center;
	left:0;
	bottom:-13px;
}

.ss_p .control .control_i{
	display: inline-block;
	width:150px;
	height:13px;
	background-color: #666;
	box-shadow: 0 1px 1px rgba(0,0,0,.3);
	position: relative;
	margin-left: 1px;
}

.ss_p .control .control_i img{
	width:100%;
	position:absolute;
	left:0;
	bottom:50px;	
	opacity: 0;
	-webkit-transition:all .2s;
	transition:all .2s;
}

/*hover 控制按钮样式*/
.ss_p .control .control_i:hover{
	background-color: #F0F0F0;
}

.ss_p .control .control_i:hover img{
	bottom: 13px;
	-webkit-box-reflect:below 0px -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    from(transparent),
	    color-stop(50%,transparent),
	    to(rgba(255,255,255,.3))
	);
	opacity: 1;
}

.ss_p .control .control_i_active,
.ss_p .control .control_i_active:hover{
	background-color: #000;
}

.ss_p .control .control_i_active:hover img{
	opacity: 0;	
}

.ss_p .main .main_i_right,
.ss_p .main .main_i{
	opacity: 0;
	position: absolute;
	right:50%;
	top:0;
	-webkit-transition:all .5s;
	transition:all .5s;
}
.ss_p .main .main_i_right{
	right:-50%;
	/*不能用left:50%;要用left，active属性left：0；*/
}
.ss_p .main .main_i h1{
	margin-right: 45px;
}
.ss_p .main .main_i h2{
	margin-right: -45px;	
}
.ss_p .main .main_i h1,
.ss_p .main .main_i h2{
	-webkit-transition:all .8s;
	transition:all .8s;
	opacity: 0;
}

#main_background,
.ss_p .main .main_i_active{
	right: 0;
    opacity: 1;
}

#main_background{
    z-index:-1;
}

.ss_p .main .main_i_active h1,
.ss_p .main .main_i_active h2{
	margin-right: 0px;
	opacity: 1;
}

.ss_p .main .main_i .caption{
	margin-right: 15%;
}
